/*
.config/*
!.config
!.config/tmux
.config/tmux/plugins/*
!.config/tmux/plugins/catppuccin
!.config/tmux/plugins/tmux-sensible
!.config/alacritty/
.config/alacritty/*
!.config/alacritty/alacritty.toml
!.config/alacritty/catppuccin-mocha.toml
!.config/ghostty/
.config/ghostty/*
!.config/ghostty/config
!.config/ghostty/themes/
.config/ghostty/themes/*
!.config/ghostty/themes/catppuccin-mocha.conf
!.config/btop/
.config/btop/*
!.config/btop/btop.conf
!.config/btop/themes/catppuccin_mocha.theme
!.config/nvim
!.gitignore
!.config/git/
.config/git/*
!.config/git/config
